<html>
<head>
  <title>Guestbook</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />

</head>
  <body>

      <div class="container">
      <header>
        <div id="headerContent"><a href="{{ url }}">{{ url_linktext }}</a></div>
      </header>
      <table align="center">
        <tr><th colspan = "2"><h2>Sign the Guestbook!</h2></th></tr>

        <form action="/sign" method="post">
          <tr><th colspan="2"><textarea name="content"></textarea></th></tr>
          <tr><td id="submit"><input type="submit" value="Submit"></td></tr>
        </form>
      </table>

      <ul>
        {% for greeting in greetings %} {% if greeting.author %}
        <li class="comment"><b>{{ greeting.author }}</b> <i>wrote: </i> {% else %} </li>
        <li class="comment"><b>An anonymous person </b> <i>wrote: </i>
        {% endif %} &ldquo;{{ greeting.content|escape }}&rdquo; {% endfor %}</li>
      </ul>
    </div>
  </body>
</html>
