<<<<<<< HEAD
.headerContainer{
    background-color: #ff1919;
    height: 70px;
    width:  100%;
    position: fixed;
    top: 0;
}

#logo{
    height: 50px;
    width:  51px;
    position: fixed;
}
=======
li{
	list-style:none;	
}
>>>>>>> b4ecc663bd4712a1c5ef602db05a3278245a7619
